@import '/src/styles/Variables';

.layout {
	width: 100%;

	figure {
		width: 100%;
		height: 20vh;
		background: gray;
		margin-bottom: 5rem;
	}

	.content {
		width: 80vw;
		min-height: 60vh;
		margin: 5vh auto;
		border: 1px solid #ddd;

		h1 {
			font: bold 2rem 'arial';
			color: #777;
			margin-bottom: 3rem;
		}
	}
}

@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $mobile) {
}
